@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Share, Build!</h1>
            <h3>Welcome Developers !! Come to Stuckflow to learn, share your knowledge, and build your careers.</h3>
            <p class="lead">Join the world's future largest developer community.</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Founded in 2018</div>
            <div class="card-body">
                Founded in 2018, Stuckflow is the online community for developers to learn, share their knowledge, and build their careers. Inviting aspiring programmers visit Stuckflow to help solve coding problems, develop new skills, and find job opportunities.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our Partners</div>
            <div class="card-body">
                Stuckflow partners with businesses to help them understand, hire, engage, and enable the world's developers. Our products and services are focused on developer marketing, technical recruiting, market research, and enterprise knowledge sharing. Learn more about our business solutions here.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="'col-sm-12">
        <div class="card">
            <div class="card-header bg-light">Stuckflow Offices</div>
            <img class="card-img-top" src="~/Images/map.svg" alt="Offices">
            <div class="card-body">
                Stuckflow currently has 2 people in its head offices in Melbourne,Australia. The company is committed to diversity in the workplace and is currently hiring.
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>


