@model List<StuckflowProject.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Share, Build!</h1>
            <h3>Welcome Developers !! Come to Stuckflow to learn, share your knowledge, and build your careers.</h3>
            <p class="lead">Join the world's future largest developer community.</p>
        </div>
    </div>
</div>




